.logo {
  font-family: 'PT Serif', serif;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
}

.menu {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
}

.main__title {
  font-family: 'PT Serif', serif;
  font-style: normal;
  font-weight: bold;
  font-size: 66px;
}

.main__text {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
}

.main__button {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
}
