body {
  margin: 0;
}

.wrapper {
  width: 67%;
  margin: auto;
}

.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 100px;
}

.logo, .menu, .burger {
  display: inline-block;
}

.logo {
  padding: 40px 0;
  padding-left: 44px;
  position: relative;
  font: bold 24px/32px 'PT Serif', arial, helvetica, sans-serif;
}

.logo__circle {
  width: 28px;
  height: 28px;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 50%;
}

.logo__circle_color_blue {
  left: 8px;
  top: 56%;
  background: #C8DBFB;
  opacity: .7;
  border-radius: 50%;
}

.logo__circle_color_dark-blue {
  background: #0056EC;
  opacity: .7;
}

.menu {
  display: flex;
  align-items: center;
}

.menu__link {
  margin-right: 26px;
  font: 500 14px/16px 'Roboto', arial, helvetica, sans-serif;
  color: #000;
  text-decoration: none;
  position: relative;
}

.menu__link:last-child {
  margin-right: 0;
}

.menu__link:hover {
  opacity: .5;
}

.menu__link:hover::after {
  display: block;
  content: '';
  width: 100%;
  height: 3px;
  position: absolute;
  background: #0056EC;
  left: 0;
}

.main {
  padding: 0 57% 100px 0;
  background: top right no-repeat url(img/Frame.svg);
}

.main__title {
  margin: 0 0 40px 0;
  font: bold 50px/66px 'PT Serif', arial, helvetica, sans-serif;
}

.main__title-text_light {
  background: #ECF3FF;
}

.main__text {
  margin: 0 0 40px 0;
  font: 500 18px/21px 'Roboto', arial, helvetica, sans-serif;
}

.main__button {
  display: inline-block;
  color: #fff;
  background: #0056EC;
  font: 500 14px/16px 'Roboto', arial, helvetica, sans-serif;
  padding: 14px 16px;
  text-decoration: none;
  border-radius: 4px;
  transition: opacity .5s;
}

.main__button:hover {
  opacity: .5;
}

#menu__toggle {
  opacity: 0;
}

@media (max-width: 768px) {
  .wrapper {
    width: 85%;
  }

  .header {
    margin-bottom: 0;
  }

  .menu {
    display: none;
  }

  .logo {
    visibility: hidden;
    padding: 53px 0 0 0;
  }

  .logo__circle_color_blue, .logo__circle_color_dark-blue {
    visibility: visible;
  }

  .main {
    padding: 75% 0;
    text-align: center;
    background-size: 90%;
    background-position: top center;
  }

  .main__title {
    margin: 0 0 32px 0;
    font: bold 30px/40px 'PT Serif', arial, helvetica, sans-serif;
    padding-top: 30px;
  }

  .main__text {
    margin: 0 0 25px 0;
    padding: 0 35px 0 35px;
    font: 500 16px/19px 'Roboto', arial, helvetica, sans-serif;
  }

  .main__button {
    font: 500 14px/16px 'Roboto', arial, helvetica, sans-serif;
    margin-bottom: 43px;
  }

  #menu__toggle {
    opacity: 0;
  }

  .menu__mobile {
    display: flex;
    align-items: center;
    position: fixed;
    top: 30px;
    right:: 19px;
    width: 25px;
    height: 26px;
    cursor: pointer;
    z-index: 1;
  }

  .menu__mobile > span,
  .menu__mobile > span::before,
  .menu__mobile > span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 3px;
    background-color: #0056EC;
  }

  .menu__mobile > span::before {
    content: '';
    top: -7px;
  }

  .menu__mobile > span::after {
    content: '';
    top: 7px;
  }

  .menu {
    display: flex;
    flex-direction: column;
    position: fixed;
    visibility: hidden;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 173px 0;
    text-align: center;
    background: #fff;
    max-width: 100%;
  }

  .menu__link {
    display: inline-block;
    margin: 0;
    padding: 12px 0;
    width: auto;
    font: 500 30px/35px 'Roboto', arial, helvetica, sans-serif;

  }

  .menu__link:hover {
    opacity: .5;
  }

  .menu__link:hover::after {
    display: block;
    content: '';
    max-width: 100%;
    height: 3px;
    position: absolute;
    background: #0056EC;
  }

  #menu__toggle:checked ~ .menu__mobile > span {
    transform: rotate(45deg);
  }
  #menu__toggle:checked ~ .menu__mobile > span::before {
    top: 0;
    transform: rotate(0);
  }
  #menu__toggle:checked ~ .menu__mobile > span::after {
    top: 0;
    transform: rotate(90deg);
  }
  #menu__toggle:checked ~ .menu {
    visibility: visible;
    left: 0;
  }

}

@media (min-width: 769px) and  (max-width: 1290px) {
  .wrapper {
    width: 91%;
  }

  .main {
    padding: 0 66% 220px 0;
    background-size: 57%;
  }
}

@media (min-width: 1920px) {
   .wrapper {
     width: 80%;
   }

   .header {
     margin-bottom: 100px;
   }

   .menu__link {
     margin-right: 30px;
     font: 500 18px/21px 'Roboto', arial, helvetica, sans-serif;
   }

   .main {
     padding: 0 66% 150px 0;
     background-size: 50%;
     background-position: right center;
   }

   .main__title {
     font: bold 66px/87px 'PT Serif', arial, helvetica, sans-serif;
     padding-top: 100px;
   }

   .main__text {
     font: 500 22px/26px 'Roboto', arial, helvetica, sans-serif;
     padding-right: 50px;
   }

   .main__button {
     font: 500 18px/21px 'Roboto', arial, helvetica, sans-serif;
     padding: 20px 25px;
   }
 }
