body {
  margin: 0;
}

.wrapper {
  width: 67%;
  margin: auto;
}

.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 100px;
}

.logo, .menu {
  display: inline-block;
}

.logo {
  padding: 40px 0;
  padding-left: 44px;
  position: relative;
  font: bold 24px/32px 'PT Serif', arial, helvetica, sans-serif;
}

.logo__circle {
  width: 28px;
  height: 28px;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 50%;
}

.logo__circle_color_blue {
  left: 8px;
  top: 56%;
  background: #C8DBFB;
  opacity: .7;
  border-radius: 50%;
}

.logo__circle_color_dark-blue {
  background: #0056EC;
  opacity: .7;
}

.menu {
  display: flex;
  align-items: center;
}

.menu__link {
  margin-right: 26px;
  font: 500 14px/16px 'Roboto', arial, helvetica, sans-serif;
  color: #000;
  text-decoration: none;
  position: relative;
}

.menu__link:last-child {
  margin-right: 0;
}

.menu__link:hover {
  opacity: .5;
}

.menu__link:hover::after {
  display: block;
  content: '';
  width: 100%;
  height: 3px;
  position: absolute;
  background: #0056EC;
  left: 0;
}

.main {
  padding: 0 57% 100px 0;
  background: top right no-repeat url(img/frame.svg);
}

.main__title {
  margin: 0 0 40px 0;
  font: bold 50px/66px 'PT Serif', arial, helvetica, sans-serif;
}

.main__title-text_light {
  background: #ECF3FF;
}

.main__text {
  margin: 0 0 40px 0;
  font: 500 18px/21px 'Roboto', arial, helvetica, sans-serif;
}

.main__button {
  display: inline-block;
  color: #fff;
  background: #0056EC;
  font: 500 14px/16px 'Roboto', arial, helvetica, sans-serif;
  padding: 14px 16px;
  text-decoration: none;
  border-radius: 4px;
  transition: opacity .5s;
}

.main__button:hover {
  opacity: .5;
}
